.headerContainer {
  background:linear-gradient( to bottom right,  #101111, #1f2124, #07a16e, );
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

  border-bottom: 1px solid var(--white);

  p {
    color:var(--white);
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--white);
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
    color:var(--white);
  }
}
